.field-index--van-field.van-cell{
	padding: 0;
}
.setExample::after {
	content:'\A 1. \A 2. \A 3.';
	line-height: 50px;
}
.van-cell:after {
	display: none;
}
.van-field__input {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #969696 !important;
}
.van-field__body{
	margin-top: 8px;
	color: #969696;
	display: flex;
	justify-content: flex-start;
	padding: 12px;
	width: 100%;
	height: 49px;
	background: #FAFAFA;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: left;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	.main{
		padding: 12px 36px;
		height: calc(100vh - 126px);
	}
	.create-poster{
		position: fixed;
		bottom: 0px;
		width: 100%;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		background:linear-gradient(rgba(255, 255, 255, 0),rgb(255, 255, 255));
		& button{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 240px;
			height: 48px;
			background: #FFC700;
			border-radius: 48px;
			&::after{
				display: none;
			}
		}
	}
}
.input-block{
	position: relative;
	margin-top: 24px;
	.image-preview{
		margin-top: 10px;
		margin-bottom: -10px;
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		image{
			width: 100px;
			height: 100px;
		}
		i{
			position: absolute;
			font-size: 20px;
			background-color: white;
			border-radius: 10px;
			top: -10px;
			right: -10px;
		}
	}
	.block{
		margin-top: 8px;
		display: flex;
		justify-content: flex-start;
		padding: 12px;
		width: 100%;
		height: 49px;
		background: #FAFAFA;
		border: 1px solid #000000;
		box-sizing: border-box;
		border-radius: 8px;
		text-align: left;
	}
	.multi{
		height: 170px;
	}
	.img-upload{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 160px;
		color: rgba(0,0,0,.4);
		.img-show{
			height: 150px;
		}
	}
	.length{
		position: absolute;
		right: 16px;
		bottom: 12px;
		font-size: 12px;
		color: rgba(0,0,0,.4)
	}
};
.text-area {
	display: flex;
	justify-content: flex-start;
}